node_modules/
/node_modules/
dist/
/dist/
build/
.svelte-kit/
.uvt/
/.uvt/
tests/generated/
/tests/generated/
!uvt-packages/
!uvt-packages/**/dist/
!uvt-packages/**/dist/**
uvt-packages/**/node_modules/
